body section{
    background-color: #f8a232;
    color: #e3e0e0;
}

section h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 39px;
    font-style: italic;
    }

section h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    }

section p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.carousel {
    height: 10%;
    padding: auto;
}

.carousel img {
    width: auto;
    height: 350px;
}

.tablaTalles{
   width: 100%;
   height: 100px; 
   box-sizing: border-box;
   border: solid 3px #f8a232;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ea896b;
    background-color: #e3e0e0;
}


.pie {
    width: 100%;
    max-height: auto;
}